<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Kitties</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header>
        <h1 class="top-header"><b class="first-letter">М</b>урзякино</h1>
    </header>


    <input type="checkbox" id="toggleSwitch" class="toggle">
    <label for="toggleSwitch" class="toggle-button">
        Посмотреть в виде списка
    </label>

    <div class="cat-container">
      <!-- Repeat the following block for each cat -->
        <div class="cat-border">
            <div class="cat-img">
              <img src="cat1.jpeg" alt="cat1" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Мурзик</span></div>
            <div class="cat-description">Ласковый и игривый котенок.</div>
            <div class="cat-info">
              <p class="cat-info-age"><b>Возраст:</b> 1 год</p>
              <p class="cat-info-breed"><b>Порода:</b> Нет</p>
              <p class="cat-info-health"><b>Болезни:</b> Нет</p>
              <p class="cat-info-status"><b>Статус:</b> Ищет хозяина</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat2.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Барсик</span></div>
            <div class="cat-description">Черно-белый красавец с зелеными глазами.</div>
          <div class="cat-info">
              <p class="cat-info-age"><b>Возраст:</b> 2 года</p>
              <p class="cat-info-breed"><b>Порода:</b> Сиамская</p>
              <p class="cat-info-health"><b>Здоровье:</b> Привит</p>
              <p class="cat-info-status"><b>Статус:</b> Уже нашел хозяина</p>
          </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat3.png" alt="cat3" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Васька</span></div>
            <div class="cat-description">Пушистый ловец солнечных лучей.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 3 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Персидская</p>
                <p class="cat-info-health"><b>Здоровье:</b> Стерилизован</p>
                <p class="cat-info-status"><b>Статус:</b> Ищет новый дом</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat4.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Томас</span></div>
            <div class="cat-description">Веселый и любопытный малыш.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 1,5 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Мейн-кун</p>
                <p class="cat-info-health"><b>Здоровье:</b> Здоров</p>
                <p class="cat-info-status"><b>Статус:</b> Зарезервирован</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat5.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Леопольд</span></div>
            <div class="cat-description">Грациозный кот с серебристой шерстью.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 2.5 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Британская</p>
                <p class="cat-info-health"><b>Здоровье:</b> Ветеринарно проверен</p>
                <p class="cat-info-status"><b>Статус:</b> Ждет любящего хозяина</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat6.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Гриша</span></div>
            <div class="cat-description">Маленький и дружелюбный хвостик.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 1 год</p>
                <p class="cat-info-breed"><b>Порода:</b> Рэгдолл</p>
                <p class="cat-info-health"><b>Здоровье:</b> Кастрирован</p>
                <p class="cat-info-status"><b>Статус:</b> Новый приют</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat7.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Матроскин</span></div>
            <div class="cat-description">Спящий кот в уютной корзине.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 4 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Шотландская</p>
                <p class="cat-info-health"><b>Здоровье:</b> Прошел курс лечения</p>
                <p class="cat-info-status"><b>Статус:</b> Ищет дом для усыновления</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat8.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Арчибальд</span></div>
            <div class="cat-description">Исследователь окрестностей и мастер прижиматься.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 2 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Манчкин</p>
                <p class="cat-info-health"><b>Здоровье:</b> Вакцинирован</p>
                <p class="cat-info-status"><b>Статус:</b> Готов к переезду</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat9.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Шер Хан</span></div>
            <div class="cat-description">Мудрый страж домашнего уюта.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 3 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Бенгальская</p>
                <p class="cat-info-health"><b>Здоровье:</b> Проверен ветеринаром</p>
                <p class="cat-info-status"><b>Статус:</b> Ищет дом и заботу</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat10.png" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Тигрёнок</span></div>
            <div class="cat-description">Элегантный кот с мягкими лапками.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 1.5 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Сфинкс</p>
                <p class="cat-info-health"><b>Здоровье:</b> Без хвоста</p>
                <p class="cat-info-status"><b>Статус:</b> Игривый и ласковый</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat11.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Кит</span></div>
            <div class="cat-description">Пусичный милаш.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 4 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Ориентальская</p>
                <p class="cat-info-health"><b>Здоровье:</b> Стерилизован</p>
                <p class="cat-info-status"><b>Статус:</b> Ждет своего хозяина</p>
            </div>
        </div>

        <div class="cat-border">
            <div class="cat-img">
              <img src="cat12.jpg" alt="cat2" width=160 height=200 class="cat-photo">
            </div>
            <div class="cat-name"><span>Котопыга</span></div>
            <div class="cat-description">Много бегает и любит играть.</div>
            <div class="cat-info">
                <p class="cat-info-age"><b>Возраст:</b> 2.5 года</p>
                <p class="cat-info-breed"><b>Порода:</b> Русская голубая</p>
                <p class="cat-info-health"><b>Здоровье:</b> Проверен ветеринаром</p>
                <p class="cat-info-status"><b>Статус:</b> Находится в приюте</p>
            </div>
        </div>
    </div>
<!--    <div class="gallery">-->
<!--        &lt;!&ndash; Replace these image sources with your own &ndash;&gt;-->
<!--        <img src="cat1.jpeg" alt="Image 1">-->
<!--        <img src="cat2.jpg" alt="Image 2">-->
<!--        <img src="cat3.png" alt="Image 3">-->
<!--        &lt;!&ndash; Add more images as needed &ndash;&gt;-->
<!--    </div>-->
    <footer>
        <p>Наши контакты:</p>
        <a href="mailto:murzyakino@mail.com">murzyakino@mail.com</a>
        <a href="tel:+123456789">+1 (234) 567-89</a>
    </footer>

</body>
</html>
