<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PigTinder</title>
    <link rel="stylesheet" href="./index.css">

</head>
<body>
<script defer src="./index.js"></script>
<header>
    PigTinder
</header>
<!-- Свайп реализован в режиме просмотра мобильный устройств в devTools -->
<main class="main">
    <div class="cards">
        <section class="cont pig0">
            <img class="pig-photo" src="content/airpig.jpg" alt="Свинка 1">
            <h6 class="pig-name">Карамелька,</h6><br>
            <h7 class="pig-years">6 месяцев</h7>
        </section>
        <section class="cont pig1">
            <img class="pig-photo" src="content/glassespig.jpg" alt="Сивнка 2">
            <h6 class="pig-name">Сластена,</h6><br>
            <h7 class="pig-years">6 месяцев</h7>
        </section>
        <section class="cont pig2">
            <img class="pig-photo" src="content/hungrypig.jpg" alt="Свинка 3">
            <h6 class="pig-name">Рюша,</h6><br>
            <h7 class="pig-years">3 месяца</h7>
        </section>
        <section class="cont pig3">
            <img class="pig-photo" src="content/interestedpig.jpg" alt="Свинка 4">
            <h6 class="pig-name">Зюзи,</h6><br>
            <h7 class="pig-years">4 месяца</h7>
        </section>
        <section class="cont pig4">
            <img class="pig-photo" src="content/lazypig.jpg" alt="Свинка 5">
            <h6 class="pig-name">Клубничка,</h6><br>
            <h7 class="pig-years">10 месяцев</h7>
        </section>
        <section class="cont pig5">
            <img class="pig-photo" src="content/punkpig.jpg" alt="Свинка 6">
            <h6 class="pig-name">Ягодка,</h6><br>
            <h7 class="pig-years">11 месяцев</h7>
        </section>
        <section class="cont pig6">
            <img class="pig-photo" src="content/sewingpig.jpg" alt="Свинка 7">
            <h6 class="pig-name">Джулия,</h6><br>
            <h7 class="pig-years">9 месяцев</h7>
        </section>
        <section class="cont pig7">
            <img class="pig-photo" src="images/свинка8.jpeg" alt="Свинка 8">
            <h6 class="pig-name">Ромашка,</h6><br>
            <h7 class="pig-years">7 месяцев</h7>
        </section>
    </div>
    <div class="buttons">
        <img class="button nope" src="content/remove.svg" onclick="nope()" alt="nope">
        <img class="button super" src="content/star.svg" onclick="sup()" alt="super">
        <img class="button like" src="content/heart.svg" onclick="like()" alt="like">
    </div>
</main>
</body>

</html>