# Default ignored files
/shelf/
.idea
# Editor-based HTTP Client requests
/httpRequests/
/vcs.xml
/1 assignment/layout
/1 assignment/tests
/2 assignment/js/test.js
/2 assignment/layout/help/
/3 assignment/layout/help/
/4 assignment/layout/src.rar
/5 assignment/help/
/5 assignment/layout.rar
