<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Мурзякино</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
<div class="wrapper">
    <div class="box header">
        Мурзякино
    </div>
    <div class="box sidebar">
        <div class="sidebar__age_container">
            <div class="main age">Возраст</div>
            <div class="range-container">
                <div class="range-slider">
                    <input type="range" min="1" max="20" value="3">
                    <input type="range" min="1" max="20" value="9">
                </div>
            </div>
        </div>
        <div class="sidebar__breed_container">
            <div class="main age">Порода</div>
            <button class="breed_button" type="submit">Пушистик</button>
            <button class="breed_button" type="submit">Британец</button>
            <button class="breed_button" type="submit">Сиамская</button>
            <button class="breed_button" type="submit">Сфинкс</button>
        </div>
    </div>
    <div class="box content">
        <div class="cat-container">
            <div class="upper-form">
                <div class="form__image_container">
                    <img src="content/cat3.png" alt="cat1" class="form__image">
                </div>
                <div class="form__text">
                    <div class="form__cat_name">
                        Белая Пуся
                    </div>
                    <div class="form__characteristics">
                        <b>Возраст:</b> 5 лет.
                        <br>
                        <b>Порода:</b> Пушистик.
                        <br>
                        <b>Болезни:</b> Нет.
                        <br>
                        <b>Статус:</b> Ищет хозяина.
                    </div>
                </div>
            </div>
            <div class="lower-form">
                <div class="form__description">
                    <div class="form__bio">
                        Дружелюбный, ласковый, ручной.
                    </div>
                    <div class="form__long_description">
                        Пуся — изящная кошка с густой, мягкой шерстью и манящими зелеными глазами. Пуся обожает уютные
                        уголки, где можно расслабиться, и всегда готова подарить свою ласку и преданность своему
                        хозяину.
                    </div>
                </div>
            </div>
        </div>
        <div class="cat-container">
            <div class="upper-form">
                <div class="form__image_container">
                    <img src="content/cat5.jpg" alt="cat2" class="form__image">
                </div>
                <div class="form__text">
                    <div class="form__cat_name">
                        Серый Мурзик
                    </div>
                    <div class="form__characteristics">
                        <b>Возраст:</b> 3 года.
                        <br>
                        <b>Порода:</b> Британец.
                        <br>
                        <b>Болезни:</b> Нет.
                        <br>
                        <b>Статус:</b> Ищет хозяина.
                    </div>
                </div>
            </div>
            <div class="lower-form">
                <div class="form__description">
                    <div class="form__bio">
                        Игривый, любит лазить по деревьям.
                    </div>
                    <div class="form__long_description">
                        Мурзик — кот с элегантной серой шерстью и великолепными желтыми глазами. Любит активные игры и
                        прыгать по высоким местам. Очень ласковый и привязанный к человеку.
                    </div>
                </div>
            </div>
        </div>

        <div class="cat-container">
            <div class="upper-form">
                <div class="form__image_container">
                    <img src="content/cat7.jpg" alt="cat3" class="form__image">
                </div>
                <div class="form__text">
                    <div class="form__cat_name">
                        Рыжий Рыжик
                    </div>
                    <div class="form__characteristics">
                        <b>Возраст:</b> 2 года.
                        <br>
                        <b>Порода:</b> Домашняя кошка.
                        <br>
                        <b>Болезни:</b> Нет.
                        <br>
                        <b>Статус:</b> Ищет хозяина.
                    </div>
                </div>
            </div>
            <div class="lower-form">
                <div class="form__description">
                    <div class="form__bio">
                        Любит играть с мячиками.
                    </div>
                    <div class="form__long_description">
                        Рыжик — очаровательный кот с пушистой рыжей шерстью. Любит активные игры и общество других
                        животных. Идеальный компаньон для дома с детьми.
                    </div>
                </div>
            </div>
        </div>
        <div class="cat-container">
            <div class="upper-form">
                <div class="form__image_container">
                    <img src="content/cat8.jpg" alt="cat4" class="form__image">
                </div>
                <div class="form__text">
                    <div class="form__cat_name">
                        Грациозная Луна
                    </div>
                    <div class="form__characteristics">
                        <b>Возраст:</b> 1.5 года.
                        <br>
                        <b>Порода:</b> Сиамская.
                        <br>
                        <b>Болезни:</b> Нет.
                        <br>
                        <b>Статус:</b> Ищет хозяина.
                    </div>
                </div>
            </div>
            <div class="lower-form">
                <div class="form__description">
                    <div class="form__bio">
                        Игривая и любознательная.
                    </div>
                    <div class="form__long_description">
                        Луна — красивая кошка с голубыми глазами и мягкой шелковистой шерстью. Обожает играть с
                        игрушками и ласкаться. Готова принести свет и радость в ваш дом.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box footer">
        <div class="footer__left">
            <div class="footer__email">
                <img class="footer__img" alt="значок письма" src="./content/email.png">
                <a href="mailto:murzyakino@gmail.com">murzyakino@gmail.com</a>
            </div>
            <div class="footer__phone">
                <img class="footer__img" alt="значок трубки" src="./content/phone-icon-black-and-white-4.jpg">
                <a href="tel:+123456789">+1 (234) 567-89</a>
            </div>
        </div>
        <div class="footer_right">
            <div class="footer__copyright"><span>&copy; </span>2023 ООО &#0171;<a href="#">Бабушкины
                котятки</a>&#0187;
            </div>
        </div>
    </div>
</div>
</body>
</html>
